body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #fefae0;
}

.task > h2 {
  font-family: "Roboto", sans-serif;
}

.task > p {
  font-family: "Crimson Text", serif;
}

.task:hover {
  box-shadow: inset 200px 0 0 0 #d4a373;
}

.task-list:hover > .task:not(:hover) {
  opacity: 0.5;
}

.delete-button:hover,
.edit-button:hover,
.view-button:hover {
  scale: 1.3;
}
